<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0"
	metadata-complete="true">
	<display-name>BigDataProj</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	
	<error-page>
  		<error-code>404</error-code>
  		<location>/error/404.jsp</location>
  	</error-page>

	<servlet>
		<servlet-name>UserFrontController</servlet-name>
		<servlet-class>com.bigdata.frontcontroller.UserFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserFrontController</servlet-name>
		<url-pattern>*.us</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BoardFrontController</servlet-name>
		<servlet-class>com.bigdata.frontcontroller.BoardFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardFrontController</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ReplyFrontController</servlet-name>
		<servlet-class>com.bigdata.frontcontroller.ReplyFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReplyFrontController</servlet-name>
		<url-pattern>*.rp</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ChartController</servlet-name>
		<servlet-class>com.bigdata.frontcontroller.ChartController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChartController</servlet-name>
		<url-pattern>*.ch</url-pattern>
	</servlet-mapping>
	
</web-app>