<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.bigdata.dto.UserDTO" alias="userdto"/>
		<typeAlias type="com.bigdata.dto.BoardDTO" alias="Boarddto"/>
		<typeAlias type="com.bigdata.dto.ReplyDTO" alias="replydto"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@192.168.0.61:1524:xe" />
				<property name="username" value="id" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="./com/bigdata/xml/user.xml" />
		<mapper resource="./com/bigdata/xml/board.xml" />
		<mapper resource="./com/bigdata/xml/reply.xml" />
	</mappers>
</configuration>
 